{% extends 'base.html' %}

{% block content %}
<div class="about-us-container">
    <h2>About Us</h2>
    <p style="text-align: center;"><b><h2>Welcome to Cafe Vibe!</h2></b></p>
    <p> At Cafe Vibe, we believe that a great cup of coffee has the power to bring people together and create memorable moments. Established with a passion for exceptional coffee and a commitment to providing a cozy, welcoming atmosphere, our cafe has become a beloved community hub.</p>
    
    <div class="about-section">
        <h3>Our Philosophy</h3>
        <p>At the heart of Cafe Vibe is our dedication to quality. From carefully sourced coffee beans to expertly crafted beverages, we strive to deliver an exceptional coffee experience to our customers. We believe in the power of locally roasted beans and sustainable practices, supporting both our community and the environment.</p>
    </div>

    <div class="team-section">
        <h3>The Cafe Vibe Experience</h3>
        <p>Step inside Cafe Vibe ambiance and be enveloped in a warm and inviting ambiance. Our cozy seating, friendly staff, and the aroma of freshly ground coffee beans create an atmosphere that encourages relaxation and connection. Whether you're here for a solo coffee break, a business meeting, or catching up with friends, we've designed our space to be your home away from home.</p>
    </div>
    <div class="about-section">
        <h3>Get in Touch</h3>
        <p>We invite you to join us at Cafe Vibe and be part of our coffee-loving community. Whether you're a regular or a first-time visitor, we look forward to serving you the finest coffee and creating moments that linger in your memory.</p>
        <p>Cafe Vibe - Where Every Sip Tells a Story.</p>
    </div>
</div>
{% endblock %}
